mixin modal-menu
  div(data-name="modal-menu", class="modal modal-menu js-modal")
    div(class="modal__wrapper")
      div(class="container")
        div(class="flex flex-wrap modal__inner")
          div(class="col-6")
            div(class="modal-menu__list")
              each item in [{title:"Квартиры", href:"#apartments"},{title:"О проекте", href:"#about"},{title:"Контакты", href:"#contacts"},{title:"Способы покупки", href:"#payment"},{title:"Ход строительства", href:"#progress"}]
                div(class="modal-menu__item")
                  a(href=item.href)= item.title
          div(class="col-2")
          div(class="col-3 modal-menu__contacts-wrapper")
            div(class="modal-menu__contacts")
              p(class="modal-menu__phone")
                a(href="tel:+73852385252") + 7 (3852) 38-52-52
              div(class="modal-menu__contact")
                div(class="modal-menu__contact-title") Жилой дом
                div(class="modal-menu__contact-subtitle") Барнаул, ул. Интернациональная 8
              div(class="modal-menu__contact")
                div(class="modal-menu__contact-title") Офис продаж:
                div(class="modal-menu__contact-subtitle")
                  p Барнаул, ул. Кленова 11а
                  a(href="mailto:sales@peremena.ru") sales@peremena.ru
          div(class="col-1")
        div(class="flex justify-end modal-menu__social")
          div(class="flex footer__social")
            each item in [{href:"#", img:"img/social/inst.svg"}, {href:"#", img:"img/social/vk.svg"}, {href:"#", img:"img/social/tg.svg"}]
              a(href=item.href, class="block footer__social-item")
                img(src=item.img, loading="lazy")
