mixin history-slider
    .swiper.history__slider.js-history-slider.active
        .swiper-wrapper
            .swiper-slide(style="background: url('img/history/1.png')").history__item
            .swiper-slide(style="background: url('img/history/2.png')").history__item
            .swiper-slide(style="background: url('img/history/3.png')").history__item
            .swiper-slide(style="background: url('img/history/4.png')").history__item
        .container.history__container
            .history__banner.js-history-banner
                .js-content.active(id="0")
                    .history__banner-content
                        p Исторический центр города Барнаула — это уникальное место, пропитанное богатой историей и культурным наследием множества поколений
                    .history__banner-quantity 1 / 4
                .js-content(id="1")
                    .history__banner-content
                        p Центр города изобилует множеством магазинов, бутиков, торговых центров, ресторанов и кафе, музеев и театров, где вы найдете все необходимое для комфортного и удобного досуга.
                    .history__banner-quantity 2 / 4
                .js-content(id="2")
                    .history__banner-content
                        p Благоприятное деловое окружение делает "Дом на Гоголя" привлекательным выбором для профессионалов и предпринимателей, стремящихся к эффективной и комфортной работе в центре Барнаула.
                    .history__banner-quantity 3 / 4
                .js-content(id="3")
                    .history__banner-content
                        p Будучи окруженные развитой социальной инфраструктурой центра города, вы можете быть уверены в доступности качественных медицинских услуг, быстрой реакции пожарных и полицейских служб в случае необходимости.
                    .history__banner-quantity 4 / 4


