mixin modal-news
    .modal.modal-news.js-modal-news(data-name="modal-news")
        .modal__wrapper
            .container
                .modal__inner.modal-news__inner.js-content-inner
                    .modal-news__header.flex.justify-between
                        div
                            .modal-news__time.js-news-date 21.07.2023
                            .modal-news__title.js-news-title Скидка 10 000 р/м2
                    .modal-news__container
                        .modal-news__img.js-news-img
                            img(src="img/modal-news/1.png")
                        .flex.flex-wrap
                            .col-7.js-news-left
                                p Успейте воспользоваться нашей горячей акцией: Скидка 10 000 рублей за каждый квадратный метр! Получите уникальную возможность приобрести жилье по самой выгодной цене. Не упустите шанс обеспечить себе комфортное и стильное жилье с максимальной выгодой!
                                p Успейте воспользоваться нашей горячей акцией: Скидка 10 000 рублей за каждый квадратный метр! Получите уникальную возможность приобрести жилье по самой выгодной цене. Не упустите шанс обеспечить себе комфортное и стильное жилье с максимальной выгодой!
                            .col-1
                            .col-4.js-news-right
                                h6 Условия акции:
                                    ol
                                        li 1 .Оформление сделки до 31.10.2023 года.
                                        li 2. Дата полной оплаты по сделке до 30.06.2024 года.