.link {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem 2.25rem;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  @apply transition-all duration-300;

  &.filled {
    @apply bg-primary text-text;

    @media (hover: hover) {
      &:hover {
        @apply bg-primary/80;
      }
    }
  }

  &.outlined {
    @apply border-[1px] border-primary text-text;

    /* box-shadow: 0px 0px 0px 0px #4a3645; */
    @media (hover: hover) {
      &:hover {
        @apply bg-primary/80;
      }
    }
  }

  &.light {
    @apply bg-light text-text;

    @media (hover: hover) {
      &:hover {
        @apply bg-light/30;
      }
    }
  }

  &.ghost {
    padding: 0;
    @apply text-text;

    @media (hover: hover) {
      &:hover {
        @apply text-primary;
      }
    }
  }
}
