


block variables
	include ../helpers/variables


doctype html
html(lang="ru")
	include ../helpers/head
	include ../../blocks/modules/header/header
	include ../../blocks/modules/footer/footer
	include ../../blocks/modules/modal-menu/modal-menu
	include ../../blocks/modules/modal-form/modal-form
	include ../../blocks/modules/modal-news/modal-news
	include ../../blocks/modules/floating-button/floating-button

	+head
	body
		.wrapper#wrapper
			.main-content
				block header
					+header
				main
					block content
			block footer
				+footer
				+modal-form
				+modal-menu
				+modal-news
				+floating-button
		block scripts
			script(src="/js/main.js")
			script(src="/js/vendor.js")
