@font-face {
  font-family: "IBMPlexSans";
  src:
    url("../fonts/IBMPlexSans-Regular.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "IBMPlexSans";
  src:
    url("../fonts/IBMPlexSans-Medium.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "IBMPlexSans";
  src:
    url("../fonts/IBMPlexSans-Bold.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "IBMPlexSans";
  src:
    url("../fonts/IBMPlexSans-Italic.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "IBMPlexSerif";
  src:
    url("../fonts/IBMPlexSerif-Italic.woff2") format("woff2"),
    url("../fonts/IBMPlexSerif-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
